<div class="title-block text-center">
	<a href="index.html">
        <h1 id="title" class="text-secondary m-0 p-0 fw-light">
			<i class="fa fa-book"></i> Photo's Tags  
		</h1>
    </a>
	<p id="subtitle" class="fst-italic text-secondary m-0 ">IISSI-2 - University of Seville</p>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0 p-0">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
				<span class="navbar-toggler-icon"></span >
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="col-sm-10 navbar-nav"> <!-- Añadir iDs a todos los nav-item para mostrar y ocultar en función de usuario conectado o anónimo-->
				<li>
					<a class="nav-link" href="index.html" id="navbar-recent">
						<i class="fa fa-clock-o"></i> Photos & Tags
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="login.html" id="navbar-login"> 
						<i class="fa fa-sign-in"></i> Login 
					</a>
				</li>

				<li class= "nav-item">
					<a class= "nav-link" href= "#" id="navbar-logout">
						<i class="fa fa-sign-out"></i> Logout 
					</a> 
				</li >

			</ul>
			<div class="col-sm-2 float-end text-light text-end fst-italic px-1" id="showUserName">		
				<i class="fa fa-user"></i><small class="" > Guest</small> 
			</div>
	
		</div>
	</nav>
</div>
